<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- Disable the speech to text until is ready.
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    -->

    <application
        android:name=".presentation.ApplicationLoader"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AI_Float"
        tools:targetApi="31">
        <activity
            android:name=".presentation.ui.ai.AiActivity"
            android:exported="true"
            android:label="@string/title_ask_ai"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AiTranslucentActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <meta-data
                android:name="android.intent.extra.PROCESS_TEXT_READONLY"
                android:value="true" />
        </activity>
        <activity
            android:name=".presentation.ui.main.MainActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AI_Float">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".presentation.service.ShortcutWindowService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="specialUse"
            android:stopWithTask="false" />


        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>
    </application>

</manifest>